:root {
  /** colours **/
  --yellow: #fed766;
  --lt-seafoam-green: #ecf9f6;
  --seafoam-green: #43c6ac;
  --md-blue: #191654;
  --dk-blue: #0c0b2a;
  --blue-grey: #6b717e;

  /** typography **/
  --headings: "Monoton", cursive;
  --body: "Rubik", sans-serif;
}

.sr-only {
  position: absolute;
  top: 0;
  left: -9999999px;
  width: 0.1rem;
  height: 0.1rem;
  visibility: hidden;
}

header {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--lt-seafoam-green);
}
.header-logo {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.header-content {
  width: 100%;
  padding: 1rem 0;
}
.logo {
  width: 100%;
}

.logo img {
  width: 200px;
  height: auto;
  .nav-bar-menu;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  padding: 0;
  color: var(--darker-navy);
}

.nav-bar-menu {
  display: none;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.nav-bar-menu .menu li {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 2px solid var(--seafoam-green);
  font-size: 20px;
}

.nav-bar-menu.active {
  position: absolute;

  padding: 0 1rem;
  top: 12%;
  left: 0;
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  background-color: var(--lt-seafoam-green);
  width: 100%;
}

.input-box {
  display: none;
}

.input-box-mobile {
  padding-top: 1rem;
  padding-bottom: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box-mobile input,
.input-box input {
  border-radius: 7.5px;
  box-shadow: none;
  border: 1px solid black;
}

.input-box-mobile input {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon-mobile {
  position: absolute;
  left: 0px;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}

/* main content */
.main-content-section {
  background: rgb(25, 22, 84);
  background: linear-gradient(
    90deg,
    rgba(25, 22, 84, 1) 0%,
    rgba(9, 9, 121, 1) 5%,
    rgba(67, 198, 172, 1) 100%
  );
  color: var(--lt-seafoam-green);
  padding: 4rem 0.75rem;
}

.main-content h1,
.our-work-section-header h2,
.what-we-do-section-header h2,
.who-we-are-section h2 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 55px;
}

.main-content p,
.our-work-section-header p,
.what-we-do-section-header p,
.who-we-are-section p {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17px;
}

.btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn-one {
  background-color: var(--seafoam-green);
  color: var(--md-blue);
  border: none;
}

.btn-two {
  background-color: transparent;
  color: var(--seafoam-green);
  border: 2px solid var(--seafoam-green);
}

/* Our work section */
.our-work-section-header {
  color: var(--md-blue);
  padding: 4rem 0.75rem 1rem;
}

.our-work-section-header h2,
.what-we-do-section-header h2,
.who-we-are-section-header h2 {
  font-size: 40px;
  text-decoration: 3px underline var(--seafoam-green);
  text-underline-offset: 15px;
}

.our-work-section-footer {
  padding: 3rem 0.5rem;
}

.our-work-section-footer button,
.what-we-do-section-header button,
.who-we-are-section-header button {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  justify-content: center;
  border: 3px solid var(--md-blue);
  border-radius: 3px;
  font-size: 20px;
}

/* our work section grid */

/* .our-work-section .grid-container {
  display: grid;
  grid-template-columns: 4fr;

  gap: 0;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
} */
/* Scrolling */

.scroll-wrapper {
  position: relative;
  padding-bottom: 3rem;
}

.scroll-wrapper {
  width: 100vw;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.grid-container {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.our-work-section .card {
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.our-work-section .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.scroll-wrapper .card p {
  height: 15%;
  margin: 0;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.our-work-section .card-one p,
.our-work-section .card-four p,
.our-work-section .card-five p,
.our-work-section .card-eight p {
  background-color: var(--md-blue);
  color: var(--lt-seafoam-green);
}

.our-work-section .card-two p,
.our-work-section .card-three p,
.our-work-section .card-six p,
.our-work-section .card-seven p {
  background-color: var(--seafoam-green);
  color: var(--darker-navy);
}

/* what we do section */
.what-we-do-section {
  padding: 1rem 0.75rem;
}

.what-we-do-section-header h2 {
  font-size: 37px;
}

.what-we-do-section-content {
  padding: 2rem 0;
}

/* what we do section grid */
.what-we-do-section-content .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  height: auto;
}

.what-we-do-section-content .card {
  height: auto;
}

.card-image-container {
  overflow: hidden;
}

.card-image-container {
  overflow: hidden;
  flex-shrink: 0;
}

.card-image-container img {
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
  height: 300px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  padding: 2rem 0;
  flex-grow: 1;
}

.card-text-container h3 {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--seafoam-green);
  text-align: left;
  text-transform: capitalize;
}

.card .card-text-container p {
  font-size: 14px;
  color: #666;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--md-blue);
  text-transform: capitalize;
  text-align: left;
  height: auto;
}

/* Who we are section */
.who-we-are-section-header {
  background-color: var(--seafoam-green);
  padding: 2rem 0.75rem;
  color: var(--md-blue);
}

.who-we-are-section {
  background-color: var(--seafoam-green);
}

.btn-our-services {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.who-we-are-section-header h2 {
  text-decoration: 1px underline var(--lt-seafoam-green);
}

.who-we-are-section-header button {
  background-color: transparent;
}

.who-we-are-section-content {
  background-color: var(--md-blue);
  color: var(--lt-seafoam-green);
  padding: 2rem 0.75rem;
}

.who-we-are-section h3 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
}

.subscribe-form {
  padding: 2rem 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: block;
}

.subscribe-form button {
  background-color: var(--seafoam-green);
  color: var(--md-blue);
  border: none;
}

.subscribe-form button,
.subscribe-form input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 5px;
}

/* footer */

footer {
  background-color: var(--dk-blue);
  color: var(--lt-seafoam-green);
  padding: 2rem 0.75rem;
}

.social-media ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
}

.social-media li {
  width: 40px;
}

.social-media svg {
  fill: var(--darker-navy);
}

@media only screen and (min-width: 760px) {
  .header-content {
    padding-left: 2rem;
  }

  .main-content-section {
    padding: 6rem 0.5rem 6rem 2rem;
  }

  /*  .our-work-section .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  } */

  .btn-container {
    display: flex;
    justify-content: start;
    gap: 2rem;
  }

  .btn-container button {
    width: auto;
    padding: 0.5rem 1.5rem;
  }

  .our-work-section-header {
    width: 80%;
    padding-left: 2rem;
    padding-top: 7rem;
  }
  .what-we-do-section-header button,
  .our-work-section-footer button {
    width: 50%;
  }

  .our-work-section-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .what-we-do-section-header {
    padding-left: 2rem;
  }
  .what-we-do-section {
    padding-bottom: 4rem;
  }
  .what-we-do-section-content .grid-container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 2rem;
    max-width: 760px;
  }

  .what-we-do-section-content .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .card-image-container {
    height: auto;
    width: 40%;
    flex-shrink: 0;
  }

  .card-image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }

  .card-text-container {
    flex-grow: 1;
    padding: 0;
  }

  .who-we-are-section-header {
    padding-top: 6rem;
  }

  .who-we-are-section-header button {
    width: 60%;
  }

  .who-we-are-section-header-img img {
    width: 100%;
  }

  .offices {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }

  .subscribe-form {
    width: 85%;
    display: flex;
  }

  .subscribe-form button {
    width: 50%;
  }

  .footer-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .social-media svg {
    width: 30px;
  }
  .disclaimer {
    font-size: 14px;
  }
}

@media screen and (min-width: 1191px) {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-box-mobile,
  .toggle-button {
    display: none;
  }

  .search-box {
    position: relative;
    width: 100%;
  }

  .search-box input[type="text"] {
    padding-left: 30px; /* Adjust padding to accommodate the icon */
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .icon {
    position: absolute;
    right: 16.5%;
    top: 49px;
    background-color: transparent;
    border: none;
    display: none;
  }

  .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-menu {
    display: flex;
    width: auto;
    flex-direction: row;
  }

  .menu {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    width: auto;
    font-size: 1rem;
  }

  .nav-bar-menu .menu li {
    padding: auto;
    border: none;
    width: auto;
  }

  .input-box {
    display: block;
  }

  .toggle-btn {
    display: none;
  }

  .main-content-section {
    padding-right: 2rem;
  }

  .main-content h1 {
    font-size: 70px;
    line-height: 70px;
  }

  .main-content p {
    font-size: 20px;
  }

  .our-work-section .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    width: 100%;
    max-width: 1191px;
    margin: 0 auto;
  }

  .our-work-section .card {
    height: 350px;
  }

  .what-we-do-section-header {
    padding-top: 6rem;
  }

  .what-we-do-section-content .grid-container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 2rem;
    max-width: 1191px;
  }

  .grid-container .card-text-container p {
    font-size: 20px;
  }

  .who-we-are-section-header {
    padding-bottom: 7rem;
    padding-top: 7rem;
  }

  .who-we-are-section-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .who-we-are-section-header h2 {
    font-size: 60px;
    padding-bottom: 1rem;
  }

  .who-we-are-section-header p,
  .who-we-are-section-header button {
    font-size: 20px;
  }

  .about-us button {
    width: auto;
  }

  .who-we-are-section-content {
    padding-top: 6rem;
  }

  .who-we-are-section-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
  }
  .who-we-are-section-header-content {
    width: 40%;
  }
  .who-we-are-section-header-content h2 {
    font-size: 40px;
  }
  .who-we-are-section-header-content p {
    font-size: 15px;
    padding-bottom: 2rem;
  }

  .who-we-are-section-header-content .about-us button {
    font-size: 13px;
    width: 70%;
  }

  .who-we-are-section-header-img {
    width: 50%;
    height: auto;
  }

  .offices {
    display: flex;
    flex-direction: column;
  }

  .who-we-are-section-content {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  .subscribe-form {
    width: 100%;
  }

  .newsletter {
    width: 40%;
  }

  footer {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 1350px) {
  .main-content-section {
    padding-left: 3rem;
  }

  .main-content {
    width: 70%;
  }

  .main-content p {
    width: 70%;
    font-size: 18px;
  }

  .btn-container {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .btn-one,
  .btn-two {
    font-size: 20px;
  }

  .header-content {
    padding: 1rem 3rem;
  }

  .header-logo {
    width: 15%;
  }
  .logo {
    width: 200px;
    display: block;
    align-content: end;
    text-align: end;
    display: flex;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 32px;
  }

  .logo p {
    font-size: 25px;
    margin-top: -5px;
    line-height: 30px;
    width: 80%;
  }

  .our-work-section .grid-container {
    max-width: 1350px;
  }

  .our-work-section .card {
    height: 400px;
  }

  .our-work-section-header {
    padding-left: 3rem;
  }

  .what-we-do-section-content .grid-container {
    max-width: 1350px;
  }
}
